@keyframes wave {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-waving {
    animation: wave 1s infinite ease-in-out;
    display: inline-block;
  }